body {
    background-color: #eee;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand'
}

header {
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
    text-align: center;
    box-shadow: 0 1px 10px rgba(51, 51, 51, 0.8);
    
}

h1 {
    margin: 0;
    
    
}

#search-container {
    width: 250px;
    display: flex;
    margin: 20px 20px 20px 20px ;
    align-items: center;
}

#search-bar {
    width: 150px;
    outline: none;
    border: none;
    font-family: 'Cairo', sans-serif;
    line-height: 2;
    border: 4px solid #eee;
    border-radius: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0;
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 10px 10px;
    float: left;
}

button {
    border: none;
    border-radius: 0;
    outline: none;
    width: 70px;
    height:69px;
    font-family: 'Cairo', sans-serif;
    display: inline-block;
    border: 4px solid #eee;
    border-radius: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0;
    display: block;
    font-size: 20px;
    margin: 0;
}

button:active {
    background-color: gray;
}

#remove-button {
    display: none;
}

#up,#down {
    height: 100px;
    width: 100px;
    background: black;
    color: white;
}

img {
    max-width: 50%;
    max-height: 50%;
}